/* Reset default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body and html styles */
body, html {
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

/* Preloader styles */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #e3edf7;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 99999999999999;
}

.preloader.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.preloader_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 4em;
  height: 4em;
  line-height: 4em;
  text-align: center;
  font-size: 3em;
  font-family: monospace;
  font-weight: 300;
}

/* Container styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Profile section */
.profile-section {
  background-color: #e3edf7;
  padding: 50px 0;
}

/* Profile info */
.profile__name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.profile__info {
  font-size: 1.125rem;
  font-weight: 600;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.icon-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  margin-right: 10rem;
}

.icon {
  font-size: 2.5rem; /* Initial size of the icons */
  transition: 0.3s ease; /* Smooth transition effect */
  margin: 10px; /* Adjust as needed */
}

.icon:hover {
  transform: scale(1.5); /* Enlarge the icon size on hover */
}

/* Show more button */
.show-more-btn {
  background-color: #336699;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 20px auto;
  display: block;
  width: 200px;
  text-align: center;
}

.show-more-btn:hover {
  background-color: #2a517f;
}

.show-more-btn:active {
  background-color: #1d3557;
}

.progress-bar {
  margin-bottom: 20px;
}

.progress {
  width: 40%;
  height: 30px;
  background-color: #336699;
  text-align: center;
  line-height: 30px;
  color: white;
  transition: 1s ease-in-out;
}

.progress-label {
  margin-top: 5px;
  font-weight: bold;
}